$main-font-family: Roboto;

.product {
  max-width: 263px;
  padding: 30px 20px 45px 20px;
  position: relative;
  margin-right: 80px;

  &__sale {
      padding: 11px 43px;
      background-color: #FF7A00;
      position: absolute;
      color: #FFF;
      font-family: $main-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase;
      left: -10px;
      top: 5px;
      border-radius: 4px;
      box-shadow: 0px 5px 10px rgba(61, 58, 55, 0.2);
  }

  &__img {
      box-shadow: 0 0 4px (rgba($color: #C4C4C4, $alpha: 0.8));
      margin-bottom: 25px;
      max-width: 100%;
  }

  &__title {
      color: #222;
      margin-bottom: 8px;
  }

  &__content {
      display: flex;
      justify-content: space-between;
      // align-items: center;
      flex-direction: column;
      height: 45%;
  }

  &__price {
      margin-top: 3px;
      margin-bottom: 3px;
      color: #FF7A00;
      font-weight: bold;
  }

  &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

}

.btn {
  font-family: $main-font-family;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #FFF; 
  border: 2px solid #FFF2E5;
  border-radius: 4px;
  padding: 1rem 1rem;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:hover {
      background: #3D3A37;
  }

  &--orange {
      background-color: #FF7A00;
      border-color: #FF7A00;
      border: 2px solid #FF7A00;

      &:hover {
          background-color: #DA6401;
      }
  }

  &--black {
      color: #222;
      border-color: #222;

      &:hover {
          background-color: #FFF2E5;
      }
  }

  &--plus {
      padding: 0;
      width: 55px;
      height: 55px;
      background-image: url('../../assets/svg/plus.svg');
      border-color: #222;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
          background-color: #FFF2E5;
          background-image: url('../../assets/svg/plus.svg');
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}